.homePage {
    width: 100%;
    padding-top: 275px;
    background-color: #f7faff;
  }
  .title {
    font-size: 35px;
    color: #808000;
    font-family: "comfortaa";
  }
  .text {
    color: #808000;
    font-size: 18px;
    font-family: "poppins";
  }